* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container {
    /* background-image: url('/new-year-offer-resources/images/Banner\ Image.png'); */
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/images/Banner\ Image.png');
    background-blend-mode: overlay;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.header-p {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}

.header-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
}

/* 65% Off section */
.main-section-start {
    width: 802.9px;
    margin: 0 auto;
    height: 806px;
    margin-top: 50px;
}

.second-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Off-title {
    /* 65% OFF */
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 70px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
}

.off-p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.off-title-second {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
}

.off-imgs {
    width: 802.9px;
    height: 500px;
}

.off-imgs img {
    width: 100%;
    height: 100%;
}

/* welcome to midnight */
.welcome-container {
    width: 1320px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('images/images/Vectorrr.png');
    margin: 0 auto;
    display: flex;
    background-blend-mode: overlay;
}

.left-side {
    width: 50%;
    margin: 0 auto;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcome-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 22%;
    text-align: left;
}

.welcome-p {
    color: #ffffffcc;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-left: 120px;
    line-height: 30px;
}

.right-side {
    width: 50%;
    margin: 0 auto;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.join-sec {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

/* Place section start */
.place-container {
    width: 1320px;
    height: 500px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.spans-coloe {
    color: red;
    font-size: 32px;
    font-weight: 600;
}

/* circle style stars */
.circle-container {
    width: 1320px;
    height: 463px;
    display: flex;
    gap: 40px;
    align-items: center;
    width: 1320px;
    margin: 0 auto;
    height: 463px;
}

.circle-tontent-one {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle-p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
}

.circle-title {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.circle-p2 {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    width: 420px;
    height: 128px;
}

.circle-tontent-two {
    width: 33%;
    border: 8px solid red;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 364.84px;
    height: 364.84px;
}

.circle-tontent-two img {
    width: 33%;
    border: 2px dashed grey;
    width: 80%;
    height: 80%;
    display: flex;
    margin: 120px auto;
}

.circle-tontent-three {
    width: 28%;
}

.circle-three-title {
    /* 2024 */
    width: 126px;
    height: 55px;
    left: 429.11%;
    right: -374.76%;
    top: 1841.18%;
    bottom: -1775.29%;
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.circle-three-p {
    width: 276px;
    height: 96px;
    left: 1184px;
    right: -1184px;
    top: 3204px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.circle-image {
    border: 2px dashed grey;
    width: 140px;
    height: 132.79px;
}

/* what is Functional */
.what-fun-container {
    width: 1068px;
    height: 260px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what-p {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.what-title {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}

.what-title span {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    color: red;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}

.what-p2 {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}

.h-w {
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    position: relative;
}

.solid-color {
    width: 1320px;
    height: 229px;
    position: absolute;
    top: 77%;
    background-color: red;
}

.giftbox {
    position: relative;
    width: 1320px;
    height: 662.07px;
    z-index: 1px;
    display: flex;
    justify-content: space-between;
}

.giftbox img {
    position: relative;
    width: 600px;
    height: 700px;
}

.discount {
    width: 305px;
    height: 305px;
    margin-top: 200px;
}

.discount img {
    width: 200px;
    height: 200px;
    border: 2px dashed goldenrod;
}

/* the best gits style */
.main {
    margin-top: 120px;
}

.thebes-container {
    width: 1320px;
    margin-top: 120px;
    height: 1163px;
    margin: 0 auto;
}

.thebes-p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.thebes-title {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
}

.thebes-p2 {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    height: 64px;
}

.images-container {
    margin-top: 50px;
}

img {
    width: 400px;
    border: 2px dashed grey;
}

/* subscribe newsletter */
.subscribe-container {
    width: 1320px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 616px;
}

.subscribe-content {
    width: 896px;
    height: 336px;
}

.subscribe-content img {
    width: 150px;
    height: 150px;
    margin-left: 350px;
}

.subscribe-title {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    margin-top: 30px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
}

.subscribe-p {
    width: 896px;
    height: 64px;
    margin-top: 20px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

.input-area input {
    width: 500px;
    height: 50px;
    border-radius: 25px 0 0 25px;
    background: rgb(255, 255, 255);
    color: red;
    border: none;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 20px;
    padding-left: 20px;
}

.subscribe-input {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

/* ::placeholder{
    color: white;
} */
.inputs-subscribe {
    width: 150px;
    height: 50px;
    border: none;
    font-size: 20px;
    background: rgb(228, 1, 1);
    margin-top: 19px;
    color: white;
    border-radius: 0 25px 25px 0;
}

/* footer style starts here */
footer {
    background: rgb(7, 2, 17);
    padding: 150px;
}

.footer-content {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    /* padding: 100px; */
    justify-content: space-between;
    height: 80px;
}

.footer-content {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
}

/* icons container */
.icons-content {
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 15px;
    border-top: 2px solid grey;
    border-bottom: 2px solid gray;
}

.footer-content img{
    width: 20px;
}
.footer-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-left: 0px;
}
.footer-imgss{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-right: 9px;
}

.icons-content img {
    width: 50px;
}
.all-right{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.all-right p{
    font-size: 20px;
    font-weight: 600;
    color: white;
}